<div class="course-header-block">
  <div class="course-header">
    <div class="header-left">
      <fa-icon [icon]="iconFolder" class="header-folder-icon"></fa-icon>
      <div class="header-info">
        <h1>{{ courseName() }}</h1>
        <span>Documentos totales [{{ totalDocs() }}]</span>
      </div>
    </div>

    <div class="header-right">
      <div class="internal-search">
        <input placeholder="Buscar en el curso" type="text"/>
        <fa-icon [icon]="iconSearch" class="search-icon"></fa-icon>
      </div>
    </div>
  </div>

  <div class="filter-bar">
    <div class="sort-links">
      <button
        (click)="setSort('recientes')"
        [class.active-sort]="activeSort() === 'recientes'"
        class="sort-link">
        Recientes
      </button>

      <button
        (click)="setSort('valoracion')"
        [class.active-sort]="activeSort() === 'valoracion'"
        class="sort-link">
        Valoración
      </button>
    </div>

    @if (activeSort() === 'recientes') {
      <div class="filter-group">
        <select class="type-filter">
          <option value="">Tipo archivo</option>
          <option value="ARCHIVO">ARCHIVO</option>
          <option value="ENLACE">ENLACE</option>
          <option value="TEXTO">TEXTO</option>
        </select>
      </div>
    }
  </div>
</div>

<div class="resource-group">
  @if (courseId() === null) {
    <p>{{ loadingMessage() }}</p>
  } @else {
    @if (activeSort() === 'recientes') {
      <app-recent-resources [courseId]="courseId()!"></app-recent-resources>
    } @else {
      <app-top-rated-resources [courseId]="courseId()!"></app-top-rated-resources>
    }
  }
</div>
