<!-- Recursos ordenados por votos -->
<div class="results-list">
  @for (resource of resources(); track resource.id_recurso) {
    <div class="resource-card">
      <div class="resource-image">
        <span>[IMG]</span>
      </div>

      <div class="resource-content">
        <div class="resource-main-row">
          <div class="resource-main-left">
            <h3 class="resource-title">{{ resource.titulo }}</h3>
            <span class="creation-date">
              Actualizado el {{ resource.actualizado_el | date:'dd/MM/yyyy' }}
            </span>
            <span class="format-type">{{ resource.ano }} - {{ resource.periodo }}</span>
            <p class="descripcion"> {{ resource.descripcion }} </p>
          </div>

          <div class="resource-rating-row">
            <div class="resource-rating-info">
              <fa-icon [icon]="iconThumb"></fa-icon>
              <span class="rating-text">
                @if (resource.votos_utiles + resource.votos_no_utiles != 0) {
                  {{ resource.votos_utiles * 100 / (resource.votos_utiles + resource.votos_no_utiles) }}
                } @else {
                  0
                }
                % ({{ resource.votos_utiles + resource.votos_no_utiles }})
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  } @empty {
    <p>{{ loadingMessage() }}</p>
  }
</div>
